<!doctype html>
<html ng-app="mainApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <meta name="description" content="A website">
    <meta name="author" content="Josh Fernandes">
  </head>
  <body ng-controller="MainCtrl as mainCtrl">
    <div>
      {{ '{{mainCtrl.greeting}}' }}
    </div>
  <!-- Necessary Library Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="static/app.js"></script>
  </body>
</html>
